html {
	box-sizing: border-box;
}
ul {
	list-style-type: none;
}
h1 {
	text-align: center;
	padding: 1em;
	color: white;
}
ul li {
	text-decoration: none;
}

nav {
	border : 1px solid black;
}
nav ul {
	display : flex;
	flex-direction : row;
	flex-wrap: nowrap;
	justify-content: space-around;
	padding : 2em; 
}

nav ul li {
	width: 20%;
}

nav ul li a {
	text-decoration: none;
	color : white;
	background-color: #bebebb;
	padding : 0.5em;
	border-radius : 5%;
}

.selected {
	background-color : #b3be80;
}
header {
	background-image: url('https://minimumwagehistorian.files.wordpress.com/2013/12/fantasy-battle-fantasy-30185358-700-393.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: 
}

form {
	display : flex;
	flex-direction: column;
	text-align: center;
	margin : 0 auto;
	width : 50%;
}
form label {
	padding : 1em;
}
form button {
	width : 150px;
	height: 30px;
	margin : 0 auto;
}
main {
	box-sizing: border-box;
	text-align: center;
}
table {
	padding: 1em;
	border : 1px solid black;
	width : 80%;
	margin: 0 auto;
}
table tr:first-child {
	font-size : 1.2em;
	color : #6d7b2d;
	background-color: #ddcb58;
}
th {
padding : 1em;
border-bottom: 0.5px solid black;
}
tr {
	text-align : center;
}
table img {
	max-width : 150px;
}
caption {
	font-size : 3em;
	padding : 1em;
	margin : 1em 0;
}
td {
	border-bottom : 0.2px solid black; 
}
table a {
	text-decoration : none;
	color : black;
	border-radius : 8%;
	background-color: silver;
	padding : 0.5em;
}